  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
      box-sizing: border-box;
      font-family: "Rubik", sans-serif;
  }

  /* 2. Remove default margin */
  *:not(dialog) {
      margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
      html {
          interpolate-size: allow-keywords;
      }
  }

  body {
      /* 4. Increase line-height */
      line-height: 1.5;
      /* 5. Improve text rendering */
      -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
      display: block;
      max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
      font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
      text-wrap: pretty;
  }

  body {
      min-height: 100vh;
      display: grid;
      place-items: center;
      background-color: #0E1323;
  }

  .ttd_container {
      width: min(1116px, 90%);
      margin: auto;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);

      gap: 30px;
      color: #fff;
  }

  .profile {
      grid-row: 1 / 3;
      border-radius: 20px;
      background-color: #1B1F49;
      overflow: hidden;
  }

  .profile h1 {
      font-weight: 300;
      font-size: 2.5rem;
      line-height: 1.2;
  }

  .profile_top p {
      font-weight: 300;
      opacity: 0.8;
      margin-top: 2.5rem;
  }

  ul {
      padding: 0;
  }

  ul li {
      list-style: none;
      margin-block: 0.5rem;
  }

  ul li button {
      background: none;
      border: none;
      color: #7078C9;
      cursor: pointer;
  }

  ul li button.active {
      color: #fff;
  }

  .profile img {
      width: 80px;
      border: 4px solid white;
      border-radius: 50%;
  }

  .profile_top {
      padding: 2rem;
      height: 70%;
      background-color: #5747EA;
      border-radius: 20px;
  }

  .profile_bottom {
      height: 30%;
      background-color: #1B1F49;
      padding: 2rem;
  }

  .card {
      border-radius: 20px;

  }

  .card .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .work {
      background-color: #FF8B64;

  }

  .play {
      background-color: #55C2E6;
  }

  .study {
      background-color: #FF5E7D;
  }

  .exercise {
      background-color: #44bc76e0;
  }

  .social {
      background-color: #7335D2;
  }

  .selfcare {
      background-color: #F1C75B;
  }

  .card_bottom {
      height: 80%;
      background-color: #1C204B;
      border-radius: 20px;
      position: relative;
      top: 5px;
      padding: 10%;
  }

  .timing {
      font-size: 3.8rem;
      font-weight: 300;
      line-height: 1.2;
      margin-block-start: 1.5rem;
  }

  .previous_timing {
      color: #a1a9ff;
  }

  .card h2 {
      font-weight: 400;
      font-size: 1.2rem;

  }

  .card_top {
      height: 20%;
      position: relative;
  }

  .card_top img {
      right: 20px;
      position: absolute;
  }

  .card_bottom:hover {
      background: #33397A;
  }

  .card_bottom:hover .previous_timing {
      color: #ced2ff;
  }

  .ellipses {
      background: transparent;
      border: none;
      cursor: pointer;
  }

  @media (max-width: 1024px) {
      .ttd_container {
          width: 612px;
          height: 617px;
          gap: 20px;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
      }

      .profile {
          grid-column: 1 / 4;
          grid-row: 1 / 2;
      }

      .profile_top {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 20px;
      }

      .profile_bottom {
          padding: 1rem;
      }

      ul {
          display: flex;
          justify-content: center;
          align-items: start;
          gap: 3rem;
      }

      .profile img {
          width: 60px;
      }

      .profile_top p {
          margin-top: 0;
      }

      .profile h1 {
          font-size: 1.8rem;
      }

      .card_top img {
          width: 60px;
      }

      .timing {
          font-size: 2.8rem;
          line-height: 1.2;
          margin-block-start: 1rem;
      }

  }

  @media (max-width: 768px) {
      .profile h1 {
          font-size: 1.5rem;
      }

      .ttd_container {
          width: 327px;
          height: auto;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: auto;
      }

      .profile {
          grid-column: 1;
          grid-row: 1;
      }

      .timing {
          display: inline-block;
          font-size: 2.2rem;
          line-height: 1.2;
          margin-block-start: 0;
          margin-block-end: 1rem;
      }

      .previous_timing {
          display: inline-block;
          position: absolute;
          right: 10%;
          bottom: 20%;
      }
  }